@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url(./layouts/header.css);
@import url(./layouts/personal.css);
@import url(./layouts/selection.css);
@import url(./anh/);
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}